/*노멀라이즈*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*라이브러리*/

.row::after {
    clear: both;
    display: block;
    content: "";
}

.cell {
    float: left;
}

.cell-right {
    float: right;
}

.con {
    max-width: 1280px;
    margin: 0 auto;
}

/*스타일*/

.sec01 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.main-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main-visual-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: relative;
    width: 300%;
    height: 300px;
}

.wave > svg {
    position: absolute;
}

.parallax1 > use {
    animation: wave 3s linear infinite;
    animation-delay: 1s;
}

.parallax2 > use {
    animation: wave2 8s linear infinite;
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes wave2 {
    0% {
        transform: translate(-50%, 0%);
    }

    25% {
        transform: translate(-500px, 0%);
    }

    50% {
        transform: translate(-50%, 0%);
    }

    75% {
        transform: translate(-900px, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.svg-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*sec02*/

.info-page {
    width: 100%;
    height: 100%;
}

.info-page > header {
    width: 100%;
    height: 110px;
    z-index: 9;
}

.info-page > header > .gnb {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-page > header > .gnb > .logo-wrap {
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.info-page > header > .gnb > .nav-list {
    margin-left: auto;
}

.info-page > header > .gnb > .nav-list > ul {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.info-page > header > .gnb > .nav-list > ul > li {
    padding: 0 60px;
}

.info-page > header > .gnb > .nav-list > ul > li:last-child {
    padding-right: 0;
}

.info-page > .contents {
    position: relative;
    width: 100%;
    height: calc(100% - 110px);
}

.info-page > .contents > .txt-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4em;
    font-family: 'Noto Sans KR', sans-serif;
}

.info-page > .contents > .txt-wrap > p {
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.info-page > .contents > .txt-wrap > p {
    display: none;
}

.info-page > .contents > .txt-wrap > p:last-child {
    display: block;
}

.info-page > .contents > .txt-wrap > p > span {
    color: #000;
}

.info-page > .contents > .pic-wrap {
    position: absolute;
    bottom: -150px;
    right: 0;
}

.info-page > .contents > .pic-wrap > .img {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/infopage-img.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

/*sec03*/

.info-page02 {
    width: 100%;
    height: 100%;
}

.info-page02 > .contents {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.info-page02 > .contents > .tp-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    border: 1px solid red;
}

.info-page02 > .contents > .tp-info > .pic-img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-image: url(../img/jdh.jpg);
    background-position: top;
    background-size: 90%;
}

.info-page02 > .contents > .tp-info > .txt-wrap {
    margin-left: 60px;
    font-size: 4em;
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;
}

.info-page02 > .contents > .btm-info {
    width: 100%;
    height: 60%;
    border: 1px solid red;
}

/*sec04*/

.portfolio-page {
    width: 100%;
    height: 100%;
}

.portfolio-page > .contents {
    display: flex;
    width: 100%;
    height: 100%;
}

.portfolio-page > .contents > .main-con {
    width: 40%;
    height: 100%;
    background-image: url(../img/website_3-6-2021_95222_adidas.jpeg);
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.portfolio-page > .contents > .txt-wrap {
    width: 60%;
    height: 100%;
    padding: 60px;
    border: 1px solid red;
}

.portfolio-page > .contents > .txt-wrap > .txt > p {
    margin-bottom: 20px;
}

.portfolio-page > .contents > .txt-wrap > .txt > .num {
    width: 36px;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.portfolio-page > .contents > .txt-wrap > .txt > .num::after {
    content: "";
    display: block;
    border-bottom: 5px solid #000;
}

.portfolio-page > .contents > .txt-wrap > .txt > .m-txt {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;
}

.portfolio-page > .contents > .txt-wrap > .txt > .s-txt01 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.portfolio-page > .contents > .txt-wrap > .txt > .s-txt02 {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.portfolio-page > .contents > .txt-wrap > .txt > .ex-txt {
    font-size: 1em;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.portfolio-page > .contents > .txt-wrap > .txt > .btn-wrap {
    display: flex;
    margin-top: 40px;
}

.portfolio-page > .contents > .txt-wrap > .txt > .btn-wrap > .btn > a {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: 2px solid #000;
}

.portfolio-page > .contents > .txt-wrap > .txt > .btn-wrap > .btn:first-child > a {
    margin-right: 10px;
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap {
    margin-top: 60px;
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap > h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap > .thumb {
    width: 60%;
    margin-top: 20px;
}

/*portfolio works slider*/
.swiper-container {
    width: 100%;
    height: 250px;
}

.swiper-slide {
    background-position: top;
    background-size: cover;
    border: 1px solid #000;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap > .thumb > .swiper-container > .swiper-wrapper > .slide01 {
    background-image: url(../img/website_3-6-2021_95222_adidas.jpeg);
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap > .thumb > .swiper-container > .swiper-wrapper > .slide02 {
    background-image: url(../img/website_3-6-2021_111612_converse.jpeg);
}

.portfolio-page > .contents > .txt-wrap > .thumb-wrap > .thumb > .swiper-container > .swiper-wrapper > .slide03 {
    background-image: url(../img/website_3-6-2021_111511_charmzone.jpeg);
}


/*sec06*/

.contact-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-page > .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/empire-state-building-1081929_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.contact-page > .contents {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-page > .contents > h1 {
    margin: 60px 0;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.contact-page > .contents > .input-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.contact-page > .contents > .input-wrap > input {
    width: calc(50% - 30px);
    height: 60px;
    background-color: #fff;
}

.contact-page > .contents > .input-wrap > input:first-child {
    margin-right: 60px;
}

.contact-page > .contents > .input-wrap > input:last-child {
    width: 100%;
    height: 300px;
    margin-top: 60px;
}
