/*노멀라이즈*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*라이브러리*/

.row::after {
    clear: both;
    display: block;
    content: "";
}

.cell {
    float: left;
}

.cell-right {
    float: right;
}

.con {
    max-width: 1280px;
    margin: 0 auto;
}

.mobile-br {
    display: none;
}

/*스타일*/

header {
    display: none;
}

/*=====================================#section0 .main-visual============================================*/

#section0 {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main-visual-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*wave svg 시작*/
.wave-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: relative;
    width: 300%;
    height: 80%;
}

.wave > svg {
    position: absolute;
}

.wave > svg {
    position: absolute;
}

.wave > svg > .cls-1 {
    opacity: 0.5;
    fill: url(#gradient_01);
}

.wave > svg > .cls-2 {
    opacity: 0.5;
    fill: url(#gradient_02);
}

.wave #layer-1 {
    animation: wave 3s linear infinite;
    animation-delay: 1s;
}

.wave #layer-2 {
    animation: wave2 8s linear infinite;
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes wave2 {
    0% {
        transform: translate(-50%, 0%);
    }

    25% {
        transform: translate(-500px, 0%);
    }

    50% {
        transform: translate(-50%, 0%);
    }

    75% {
        transform: translate(-900px, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

/*wave svg 끝*/

/*title svg 시작*/

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 100vh;
}

.mobile-text-box {
    display: none;
}

svg.title {
    display: block;
    width: 100%;
}

svg.title text {
    font-family: 'Fredoka One', cursive;
    font-size: 10vw;
    fill: transparent;
    stroke-dasharray: 326px;
    animation: title 1s linear;
    animation-fill-mode: forwards;
}

svg.title text.name {
    font-family: 'Fredoka One';
    font-size: 5vw;
    fill: transparent;
}

svg text:nth-child(1) {
    animation-delay: 0s;
}

svg text:nth-child(2) {
    animation-delay: 0.5s;
}

svg text:nth-child(3) {
    animation-delay: 1s;
}

svg text:nth-child(4) {
    animation-delay: 1.5s;
}

svg text:nth-child(5) {
    animation-delay: 2s;
}

svg text:nth-child(6) {
    animation-delay: 2.5s;
}

svg text:nth-child(7) {
    animation-delay: 3s;
}

svg text:nth-child(8) {
    animation-delay: 3.5s;
}

svg text:nth-child(9) {
    animation-delay: 4s;
}

@keyframes title {

    0% {
        stroke: #fff;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }

    70% {
        fill: transparent;
    }

    98% {
        stroke: #fff;
        stroke-width: 3px;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0px;
    }

}

/*title svg 끝*/

/*============================================#section1 .info-page=====================================================*/

.info-page {
    width: 100%;
    height: 100%;
}

.info-page > .header {
    width: 100%;
    height: 110px;
    z-index: 9;
}

.info-page > .header > .gnb {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-page > .header > .gnb > .logo-wrap {
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.info-page > .header > .gnb > .nav-list {
    margin-left: auto;
}

.info-page > .header > .gnb > .nav-list > ul {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.info-page > .header > .gnb > .nav-list > ul > li {
    padding: 0 60px;
}

.info-page > .header > .gnb > .nav-list > ul > li:last-child {
    padding-right: 0;
}

.info-page > .header > .gnb > .nav-list > ul > li:hover {
    color: #F5A518;
}

.info-page > .header > .gnb > .nav-list > ul > li > a::after {
    content: "";
    display: block;
    width: 0%;
    border-bottom: 2px solid #000;
    transition: 1s;
    opacity: 0;
}

.info-page > .header > .gnb > .nav-list > ul > li:hover > a::after {
    width: 100%;
    opacity: 1;
}

.info-page > .contents {
    position: relative;
    width: 100%;
    height: calc(100% - 110px);
}

.info-page > .contents > .text-wrap {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

/*typing-txt 시작*/

.txt-wrap01 {
    position: absolute;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.typing-txt01 {
    display: none;
}

.typing01 {
    font-size: 4em;
    color: #fff;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.black-txt {
    color: #000;
    float: left;
}

.black-txt02 {
    color: #000;
}

.typing01 ul li {
    display: block;

}

.typing01 ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 3px solid #fff;
    }

    50% {
        border-right: 3px solid #F5A518;
    }

    100% {
        border-right: 3px solid #fff;
    }
}

/*typing-txt 끝*/


.info-page > .contents > .pic-wrap {
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: -1;
}

.info-page > .contents > .pic-wrap > .img {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/infopage-img.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

/*======================================#section2 .info-page02================================================*/

.info-page02 {
    width: 100%;
    height: 100%;
}

.info-page02 > .contents {
    width: 100%;
    height: 100%;
}

.info-page02 > .contents > .tp-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
}

.info-page02 > .contents > .tp-info > .pic-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../img/jdh.jpg);
    background-position: top;
    background-size: 90%;
}

.info-page02 > .contents > .tp-info > .txt-wrap {
    margin-left: 60px;
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;
}

.info-page02 > .contents > .tp-info > .txt-wrap > p {
    padding-bottom: 20px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.info-page02 > .contents > .btm-info {
    width: 100%;
    height: 60%;
}

.info-page02 > .contents > .btm-info > ul {
    display: flex;
    flex-wrap: wrap;
}

.info-page02 > .contents > .btm-info > ul > li {
    width: 38%;
    padding-right: 80px;
    color: #F5A518;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.info-page02 > .contents > .btm-info > ul > li:nth-child(3) {
    width: 24%;
    padding-right: 0;
}

.info-page02 > .contents > .btm-info > ul > li:nth-child(4),
.info-page02 > .contents > .btm-info > ul > li:nth-child(5) {
    padding-top: 40px;
}

.info-page02 > .contents > .btm-info > ul > li > ul {
    padding-top: 30px;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li {
    display: flex;
    padding-bottom: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

.info-page02 > .contents > .btm-info > ul > li:first-child > ul > li:last-child {
    text-transform: lowercase;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > div > small {
    padding-right: 50px;
    color: #5D5E5E;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .text {
    width: 40px;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap {
    padding-left: 50px;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar {
    width: 200px;
    height: 10px;
    border-radius: 10px;
    background-color: #BBBABA;
}


.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill-color {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #F5A518;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill01 {
    width: 80%;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill02 {
    width: 80%;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill03 {
    width: 65%;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill04 {
    width: 85%;
    background-color: #F6DA60;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill05 {
    width: 90%;
    background-color: #F6DA60;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill01.skill {
    animation: skill 3s;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill02.skill {
    animation: skill 3s;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill03.skill2 {
    animation: skill2 3s;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill04.skill3 {
    animation: skill3 3s;
}

.info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap > .skill-bar > .skill05.skill4 {
    animation: skill4 3s;
}

@keyframes skill {

    from {
        width: 0%
    }

    to {
        width: 85%;
    }
}


@keyframes skill2 {

    from {
        width: 0%
    }

    to {
        width: 65%;
    }
}

@keyframes skill3 {

    from {
        width: 0%
    }

    to {
        width: 85%;
    }
}

@keyframes skill4 {

    from {
        width: 0%
    }

    to {
        width: 95%;
    }
}

/*========================================#section3 .portfolio-page===============================================*/

.portfolio-page {
    width: 100%;
    height: 100%;
}

.portfolio-page-mobile {
    display: none;
}

.portfolio-page > .contents {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/*portfolio slider*/
.swiper-container.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box {
    position: relative;
    width: 65%;
    height: 80%;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .macbook {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-image: url(../img/macbook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 400px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    z-index: 2;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide01 > .pf-box > .img-box > .img {
    background-image: url(../img/website_3-6-2021_95222_adidas.jpeg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide02 > .pf-box > .img-box > .img {
    background-image: url(../img/website_3-6-2021_111612_converse.jpeg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide03 > .pf-box > .img-box > .img {
    background-image: url(../img/website_3-6-2021_111511_charmzone.jpeg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img:hover {
    background-position: 0 100;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img > a {
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .iphone {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    background-image: url(../img/iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img02 {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 164px;
    height: 295px;
    border-radius: 5px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    z-index: 4;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide01 > .pf-box > .img-box > .img02 {
    background-image: url(../img/web-adidas.jpg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide02 > .pf-box > .img-box > .img02 {
    background-image: url(../img/web-converse.jpg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .slide03 > .pf-box > .img-box > .img02 {
    background-image: url(../img/web-charmzone.jpg);
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img02:hover {
    background-position: 0 100%;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img02 > a {
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 80%;
    padding: 60px 40px 60px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > h1 {
    font-size: 3.5em;
    font-weight: 900;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > p {
    padding: 20px 0;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > .btn-wrap {
    display: flex;
    padding-top: 20px;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > .btn-wrap > .btn > a {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: 2px solid #000;
    transition: 0.5s;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > .btn-wrap > .btn:first-child > a {
    margin-right: 10px;
}

.portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .txt-box > .btn-wrap > .btn > a:hover {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
    left: 50%;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transition: .3s opacity;
    transform: translateX(-50%);
    z-index: 9;
}

.portfolio-page > .contents > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    width: 100px;
    height: 100px;
    margin: 0 5px;
    background-color: #F6DA60;
    border-radius: 0;
    opacity: 0.5;
    transition: 1s;
}

.portfolio-page > .contents > .swiper-container > .swiper-pagination > .swiper-pagination-bullet-active {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.portfolio-page > .contents > .swiper-container > .swiper-pagination > .swiper-pagination-bullet:nth-child(1) {
    background-image: url(../img/website_3-6-2021_95222_adidas.jpeg);
    background-size: cover;
}

.portfolio-page > .contents > .swiper-container > .swiper-pagination > .swiper-pagination-bullet:nth-child(2) {
    background-image: url(../img/website_3-6-2021_111612_converse.jpeg);
    background-size: cover;
}

.portfolio-page > .contents > .swiper-container > .swiper-pagination > .swiper-pagination-bullet:nth-child(3) {
    background-image: url(../img/website_3-6-2021_111511_charmzone.jpeg);
    background-size: cover;
}

/*==========================================#section4 .portfolio-page02=================================================*/

#section4 {
    position: relative;
}

.portfolio-page02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.portfolio-page02-mobile {
    display: none;
}

.portfolio-page02 > .title {
    display: flex;
    align-items: center;
    padding: 60px 60px 0 60px;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.portfolio-page02 > .title::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F6DA60;
    margin-right: 40px;
}

.portfolio-page02 > .contents {
    width: 100%;
    height: calc(100% - 177.33px);
    padding: 20px;
}

.portfolio-page02 > .contents > .main-con {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.portfolio-page02 > .contents > .main-con > .main-box {
    width: calc(100% / 4);
    height: calc(100% / 2);
    padding: 20px;
}

.portfolio-page02 > .contents > .main-con > .main-box > .main {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-page02 > .contents > .main-con > .main-box > .main01 {
    background-image: url(../img/mobile-01-retinalcream.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main02 {
    background-image: url(../img/mobile-02-jujube.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main03 {
    background-image: url(../img/mobile-03-dimsum.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main04 {
    background-image: url(../img/mobile-04-muse.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main05 {
    background-image: url(../img/mobile-05-summer.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main06 {
    background-image: url(../img/mobile-06-her.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main07 {
    background-image: url(../img/mobile-07-ssack3.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main08 {
    background-image: url(../img/mobile-08-c4d.jpg);
}

.portfolio-page02 > .contents > .main-con > .main-box > .main > .txt-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.portfolio-page02 > .contents > .main-con > .main-box > .main:hover > .txt-box {
    opacity: 1;
    visibility: visible;
}

.portfolio-page02 > .contents > .main-con > .main-box > .main > .txt-box > .txt {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.img-pop-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.img-pop-wrap.pop {
    visibility: visible;
    opacity: 1;
}

.img-pop-wrap > .img-pop {
    position: relative;
    width: 80%;
    height: 90%;
}

.img-pop-wrap > .img-pop > .img-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
    opacity: 0;
}

.img-pop-wrap > .img-pop > .img-box.pop {
    visibility: visible;
    opacity: 1;
}

.img-pop-wrap > .img-pop > .box01 {
    background-image: url(../img/visual-01-retinalcream.jpg);
}

.img-pop-wrap > .img-pop > .box02 {
    background-image: url(../img/visual-02-jujube.jpg);
}

.img-pop-wrap > .img-pop > .box03 {
    background-image: url(../img/visual-03-dimsum.jpg);
}

.img-pop-wrap > .img-pop > .box04 {
    background-image: url(../img/visual-04-muse.jpg);
}

.img-pop-wrap > .img-pop > .box05 {
    background-image: url(../img/visual-05-summer.jpg);
}

.img-pop-wrap > .img-pop > .box06 {
    background-image: url(../img/visual-06-her.jpg);
}

.img-pop-wrap > .img-pop > .box07 {
    background-image: url(../img/visual-07-ssack3.jpg);
}

.img-pop-wrap > .img-pop > .box08 {
    background-image: url(../img/visual-08-c4d.jpg);
}

/*=====================================#section5 .contact-page=============================================*/

.contact-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-page > .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../img/empire-state-building-1081929_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.contact-page > .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
    padding: 60px;
}

.contact-page > .contents > h1 {
    margin-bottom: 60px;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.contact-page > .contents > .input-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact-page > .contents > .input-wrap > input {
    width: calc(50% - 30px);
    height: 60px;
    padding: 10px;
    background-color: #fff;
    outline: none;
}

.contact-page > .contents > .input-wrap > input:first-child {
    margin-right: 60px;
}

.contact-page > .contents > .input-wrap > input:last-child {
    width: 100%;
    height: 300px;
    margin-top: 60px;
}

.contact-page > .contents > .btn {
    margin-top: 40px;
}

.contact-page > .contents > .btn > a {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

/*wave02 svg 끝*/

.wave-wrap02 {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.wave02 {
    width: 150%;
    height: 100%;
    position: relative;
}

.wave02 > svg {
    position: absolute;
}

.parallax1 > use {
    animation: wave 3s linear infinite;
    animation-delay: 1s;
}

.parallax2 > use {
    animation: wave2 8s linear infinite;
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes wave2 {
    0% {
        transform: translate(-10%, 0%);
    }

    25% {
        transform: translate(-100px, 0%);
    }

    50% {
        transform: translate(-10%, 0%);
    }

    75% {
        transform: translate(-400px, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

/*wave02 svg 끝*/

/*==========================================#section6 footer==================================================*/

footer {
    width: 100%;
    background-color: #F6DA60;
    padding: 40px;
}

footer > .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .icon-wrap > ul {
    display: flex;
    align-items: center;
    margin: 0 40px 20px 40px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

footer > .icon-wrap > ul > li:first-child {    
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

footer > .icon-wrap > ul > .phone {
    background-image: url(../img/phone.png);
}

footer > .icon-wrap > ul > .mail {
    background-image: url(../img/e-mail.png);
}

footer > p {
    padding: 5px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

/*==========================================fullpage 버튼 디자인==================================================*/

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background-color: #F5A518;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    background-color: transparent;
    background-image: url(../img/logo2.png);
    background-position: center;
    background-size: contain;
    transform: rotate(360deg);
    transition: 1s;
}

#fp-nav ul li .fp-tooltip {
    color: #F5A518;
}





/*==========================================지금부터는 반응형입니다.==================================================*/
/*================================================반응형 시작=======================================================*/


@media screen and (max-width: 1720px) {
    
    /*=====#section0 .main-visual=====*/
    
    .wave {
        width: 400%;
    }

    /*=====#section1 .info-page=====*/

    .info-page > .contents > .pic-wrap > .img {
        width: 700px;
        height: 700px;
        background-image: url(../img/infopage-img.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}

@media screen and (max-width: 1580px) {

    /*=====#section5 .contact-page=====*/

    .contact-page > .contents > h1 {
        margin-bottom: 40px;
    }

    .contact-page > .contents > .input-wrap > input {
        width: calc(50% - 20px);
    }

    .contact-page > .contents > .input-wrap > input:first-child {
        margin-right: 40px;
    }

    .contact-page > .contents > .input-wrap > input:last-child {
        margin-top: 40px;
    }

    .wave-wrap02 {
        height: 250px;
    }

}

@media screen and (max-width: 1440px) {

    /*=====#section1 .info-page=====*/

    .info-page > .header > .gnb {
        padding: 0 60px;
    }

    .info-page > .contents > .text-wrap {
        padding: 0 60px;
    }

    /*=====#section2 .info-page02=====*/

    .info-page02 > .contents {
        padding: 60px;
    }

    /*=====#section3 .portfolio-page=====*/

    .portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .macbook {
        width: 600px;
        height: 400px;
    }

    .portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img {
        position: absolute;
        top: 48.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 460px;
        height: 300px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 5s;
        z-index: 2;
    }

    .portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .iphone {
        width: 150px;
        height: 300px;
    }

    .portfolio-page > .contents > .swiper-container > .swiper-wrapper > .swiper-slide > .pf-box > .img-box > .img02 {
        width: 130px;
        height: 240px;
    }

    /*=====#section5 .contact-page=====*/

    .contact-page > .contents > h1 {
        margin-bottom: 30px;
    }

    .contact-page > .contents > .input-wrap > input {
        width: calc(50% - 15px);
    }

    .contact-page > .contents > .input-wrap > input:first-child {
        margin-right: 30px;
    }

    .contact-page > .contents > .input-wrap > input:last-child {
        margin-top: 30px;
    }
}


@media screen and (max-width: 1280px) {
    
    /*=====#section0 .main-visual=====*/

    .wave {
        width: 350%;
    }
    
    /*=====#section1 .info-page=====*/
    
    .typing01 {
        font-size: 3.5em;
    }

    /*=====#section2 .info-page02=====*/

    .info-page02 > .contents > .tp-info {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .info-page02 > .contents > .tp-info > .pic-img {
        width: 150px;
        height: 150px;
    }

    .info-page02 > .contents > .tp-info > .txt-wrap {
        font-size: 1.2em;
    }

    .info-page02 > .contents > .tp-info > .txt-wrap > p {
        padding-bottom: 10px;
    }

    .info-page02 > .contents > .btm-info > ul > li {
        width: 30%;
        padding-right: 30px;
        font-size: 20px;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul {
        padding-top: 10px;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(2) {
        width: 40%;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(4),
    .info-page02 > .contents > .btm-info > ul > li:nth-child(5) {
        width: 50%;
        padding-top: 30px;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul > li {
        display: flex;
        padding-bottom: 10px;
        color: #000;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Noto Sans KR', sans-serif;
    }

    /*=====#section3 .portfolio-page=====*/

    .portfolio-page > .contents > .txt-wrap > .txt > .btn-wrap {
        margin-bottom: 60px;
    }

    .swiper-container {
        height: 150px;
    }

    /*=====#section5 .contact-page=====*/

    .wave-wrap02 {
        height: 150px;
    }

}

@media screen and (max-width: 960px) {
    
    ::-webkit-scrollbar { 
        width: 10px; /*스크롤바의 너비*/
    } 
    
    ::-webkit-scrollbar-thumb { 
        background-color: #F5A518; /*스크롤바의 색상*/
        border-radius: 10px;
    } 
    
    ::-webkit-scrollbar-track {
        background-color: #ddd; /*스크롤바 트랙 색상*/
    }
    
    /*=====#section0 .main-visual=====*/

    header {
        display: block;
    }

    header > .mobile-gnb {
        position: fixed;
        bottom: -50px;
        width: 100%;
        height: 110px;
        transition: 1s;
        z-index: 99;
    }

    header > .mobile-gnb.active {
        bottom: 0;
    }

    header > .mobile-gnb > .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url(../img/mobile-menu.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header > .mobile-gnb > .mobile-menu > .logo-wrap {
        width: 80px;
        height: 80px;
        background-image: url(../img/logo2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: rotate 3s linear infinite;
    }

    @keyframes rotate {

        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    header > .mobile-gnb > .mobile-menu > .nav-list {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 40px;
    }

    header > .mobile-gnb > .mobile-menu > .nav-list > ul {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    .wave {
        width: 450%;
    }

    /*title svg 시작*/

    .text-box {
        display: none;
    }

    .mobile-text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        height: 100vh;
    }

    svg.title {
        display: block;
        width: 100%;
    }

    svg.title text {
        font-family: 'Fredoka One';
        font-size: 15vw;
        fill: transparent;
        stroke-dasharray: 326px;
        animation: title 1s linear;
        animation-fill-mode: forwards;
    }

    svg.title text.name {
        font-family: 'Fredoka One';
        font-size: 10vw;
        fill: transparent;
    }

    svg text:nth-child(1) {
        animation-delay: 0s;
    }

    svg text:nth-child(2) {
        animation-delay: 0.5s;
    }

    svg text:nth-child(3) {
        animation-delay: 1s;
    }

    svg text:nth-child(4) {
        animation-delay: 1.5s;
    }

    svg text:nth-child(5) {
        animation-delay: 2s;
    }

    svg text:nth-child(6) {
        animation-delay: 2.5s;
    }

    svg text:nth-child(7) {
        animation-delay: 3s;
    }

    svg text:nth-child(8) {
        animation-delay: 3.5s;
    }

    svg text:nth-child(9) {
        animation-delay: 4s;
    }

    @keyframes title {

        0% {
            stroke: #fff;
            stroke-width: 1.5px;
            stroke-dashoffset: 326px;
        }

        70% {
            fill: transparent;
        }

        98% {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        100% {
            fill: #fff;
            stroke-dashoffset: 0px;
        }

    }

    /*title svg 끝*/

    /*=====#section1 .info-page=====*/

    .info-page {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .info-page > .header > .gnb {
        display: none;
    }

    .info-page > .contents {
        width: 100%;
        height: 100%;
    }

    .info-page > .contents > .pic-wrap {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

    .info-page > .contents > .pic-wrap > .img {
        width: 100%;
        height: 100%;
        background-image: url(../img/mobile-infopage-img.png);

    }

    .info-page > .contents > .text-wrap {
        align-items: flex-start;
        width: 100%;
        height: 80%;
        padding: 0 40px;
    }

    .typing01 {
        font-size: 3em;
    }

    /*=====#section2 .info-page02=====*/

    #section2 {
        margin: 120px 0;
    }

    .info-page02 > .contents {
        padding: 40px;
    }

    .info-page02 > .contents > .tp-info {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .info-page02 > .contents > .tp-info > .pic-img {
        width: 300px;
        height: 300px;
    }

    .info-page02 > .contents > .tp-info > .txt-wrap {
        margin: 40px 0 60px 0;
        font-size: 1.5em;
        font-weight: 500;
        font-family: 'Noto Sans KR', sans-serif;
        text-align: center;
    }

    .info-page02 > .contents > .btm-info {
        height: auto;
    }

    .info-page02 > .contents > .btm-info > ul > li {
        width: 100%;
        padding-right: 0;
        padding-bottom: 60px;
        font-size: 25px;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(2) {
        width: 100%;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(3) {
        width: 100%;
        padding-right: 20px;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(4),
    .info-page02 > .contents > .btm-info > ul > li:nth-child(5) {
        width: 100%;
        padding-top: 20px;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul {
        padding-top: 15px;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul > li {
        font-size: 16px;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(5) > ul > li {
        display: flex;
        align-items: center;
    }

    /*=====#section3 .portfolio-page=====*/

    #section3 {
        margin: 120px 0;
    }
    
    .fp-tableCell {
        height: 80vh;
    }

    .portfolio-page {
        display: none;
    }

    .portfolio-page-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .portfolio-page-mobile > .title {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    .portfolio-page-mobile > .contents {
        margin-bottom: 60px;
        padding: 40px;
    }

    .portfolio-page-mobile > .contents > .port-wrap {
        width: 100%;
        height: 650px;
    }

    .portfolio-page-mobile > .contents > .port-wrap > .port {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /*portfolio-page-mobile slider*/
    .swiper-container.web-portfolio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        overflow: visible;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        border: none;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .portfolio-page-mobile > .contents > .port-wrap > .port > .web-portfolio > .swiper-wrapper > .web01 {
        background-image: url(../img/mobile_3-6-2021_95222_adidas.jpeg);
    }

    .portfolio-page-mobile > .contents > .port-wrap > .port > .web-portfolio > .swiper-wrapper > .web02 {
        background-image: url(../img/mobile_3-6-2021_111612_converse.jpeg);
    }

    .portfolio-page-mobile > .contents > .port-wrap > .port > .web-portfolio > .swiper-wrapper > .web03 {
        background-image: url(../img/mobile_3-6-2021_111511_charmzone.jpeg);
    }
    
    .portfolio-page-mobile > .contents > .port-wrap > .port > .web-portfolio > .swiper-wrapper > .swiper-slide > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -40px;
        left: 50%;
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #F6DA60;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 20px;
        height: 10px;
        border-radius: 10px;
        background-color: #F5A518;
    }

    /*=====#section4 .portfolio-page02=====*/

    .portfolio-page02 {
        display: none;
    }

    .portfolio-page02-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .portfolio-page02-mobile > .title {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    .portfolio-page02-mobile > .contents {
        margin-bottom: 60px;
        padding: 40px;
    }

    .portfolio-page02-mobile > .contents > .port-wrap {
        width: 100%;
        height: 700px;
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /*portfolio-page02-mobile slider*/
    .swiper-container.portfolio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        overflow: visible;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        border: none;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide01 {
        background-image: url(../img/mobile-01-retinalcream.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide02 {
        background-image: url(../img/mobile-02-jujube.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide03 {
        background-image: url(../img/mobile-03-dimsum.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide04 {
        background-image: url(../img/mobile-04-muse.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide05 {
        background-image: url(../img/mobile-05-summer.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide06 {
        background-image: url(../img/mobile-06-her.jpg);
    }

    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide07 {
        background-image: url(../img/mobile-07-ssack3.jpg);
    }
    .portfolio-page02-mobile > .contents > .port-wrap > .port > .portfolio > .swiper-wrapper > .slide08 {
        background-image: url(../img/mobile-08-c4d.jpg);
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -40px;
        left: 50%;
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #F6DA60;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 20px;
        height: 10px;
        border-radius: 10px;
        background-color: #F5A518;
    }
    
    .img-pop-wrap > .img-pop {
        width: 95%;
    }

    /*=====#section5 .contact-page=====*/

    .contact-page > .contents {
        padding: 40px;
    }

}

@media screen and (max-width: 768px) {
    
    /*=====#section0 .main-visual=====*/

    header > .mobile-gnb > .mobile-menu > .logo-wrap {
        width: 50px;
        height: 50px;
        margin-bottom: 35px;
    }

    .wave {
        width: 550%;
    }

    /*=====#section2 .info-page02=====*/

    .info-page02 > .contents > .tp-info > .txt-wrap {
        font-size: 1.2em;
    }

    /*=====#section3 .portfolio-page=====*/

    .portfolio-page-mobile > .contents > .port-wrap {
        height: 400px;
    }

    /*=====#section5 .contact-page=====*/

    .contact-page > .contents > h1 {
        margin-bottom: 30px;
    }

    .contact-page > .contents > .input-wrap > input {
        width: 100%;
    }

    .contact-page > .contents > .input-wrap > input:first-child {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .contact-page > .contents > .input-wrap > input:last-child {
        height: 200px;
        margin-top: 30px;
    }

    .wave02 {
        width: 250%;
    }

    /*=====#section6 footer=====*/

    footer > .icon-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer > .icon-wrap > ul {
        margin: 0;
        font-size: 18px;
    }

    footer > .icon-wrap > ul > .phone {
        display: none;
    }

    footer > .icon-wrap > ul > .mail {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    
    /*=====#section0 .main-visual=====*/

    header > .mobile-gnb > .mobile-menu > .nav-list {
        padding: 0 20px;
    }

    .wave {
        width: 650%;
    }

    /*title svg 시작*/

    @keyframes title {

        0% {
            stroke: #fff;
            stroke-width: 1px;
            stroke-dashoffset: 326px;
        }

        70% {
            fill: transparent;
        }

        98% {
            stroke: #fff;
            stroke-width: 1px;
        }

        100% {
            fill: #fff;
            stroke-dashoffset: 0px;
        }

    }

    /*title svg 끝*/
    
    /*=====#section1 .info-page=====*/

    .info-page > .contents > .text-wrap {
        padding: 0 20px;
    }

    .typing01 {
        font-size: 1.6em;
        text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    }

    /*=====#section2 .info-page02=====*/

    .mobile-br {
        display: block;
    }

    .info-page02 > .contents {
        padding: 20px;
    }

    .info-page02 > .contents > .tp-info > .txt-wrap {
        font-size: 1.2em;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul > li {
        flex-direction: column;
    }

    .info-page02 > .contents > .btm-info > ul > li:nth-child(5) > ul > li {
        flex-direction: row;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul > li > .text {
        width: 0;
    }

    .info-page02 > .contents > .btm-info > ul > li > ul > li > .skill-bar-wrap {
        padding-left: 70px;
    }

    /*=====#section3 .portfolio-page=====*/

    .portfolio-page-mobile > .title {
        padding: 0 20px;
        font-size: 2.5em;
    }
    
    .portfolio-page-mobile > .contents {
        padding: 20px;
    }

    .portfolio-page-mobile > .contents > .port-wrap {
        width: 100%;
        height: 300px;
    }

    /*=====#section4 .portfolio-page02=====*/

    .portfolio-page02-mobile > .title {
        font-size: 2.5em;
    }

    .portfolio-page02-mobile > .contents {
        padding: 20px;
    }

    .portfolio-page02-mobile > .contents > .port-wrap {
        width: 100%;
        height: 500px;
    }

    /*=====#section5 .contact-page=====*/

    .contact-page > .contents {
        padding: 20px;
    }

    .contact-page > .contents > h1 {
        margin-bottom: 20px;
        font-size: 2.5em;
    }

    .contact-page > .contents > .input-wrap > input {
        width: 100%;
        height: 40px;
    }

    .contact-page > .contents > .input-wrap > input:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-page > .contents > .input-wrap > input:last-child {
        height: 120px;
        margin-top: 20px;
    }

    .contact-page > .contents > .btn > a {
        padding: 10px 20px;
        border-radius: 10px;
    }

    .wave02 {
        width: 300%;
    }
    
    /*=====#section6 footer=====*/

    footer {
        padding: 40px 20px 80px 20px;
    }

    footer > .icon-wrap > ul {
        font-size: 14px;
    }

    footer > p {
        font-size: 9px;
    }
    
}

@media screen and (max-width: 400px) {
    
    /*=====#section0 .main-visual=====*/

    header > .mobile-gnb > .mobile-menu > .nav-list > ul {
        font-size: 13px;
    }
    
    /*=====#section1 .info-page=====*/

    .typing01 {
        font-size: 1.2em;
    }

    /*=====#section2 .info-page02=====*/

    .info-page02 > .contents {
        padding: 20px;
    }

    .info-page02 > .contents > .tp-info > .txt-wrap {
        font-size: 1.1em;
    }

    /*=====#section3 .portfolio-page=====*/

    .portfolio-page-mobile > .contents > .port-wrap {
        height: 300px;
    }

    /*=====#section4 .portfolio-page02=====*/

    .portfolio-page02-mobile > .contents > .port-wrap {
        height: 350px;
    }

    /*=====#section5 .contact-page=====*/

    .wave02 {
        width: 350%;
    }

}
